body {
  background-color: #f1dcf8;
  color: #333;
  font-family: sans-serif;
  font-size: 15px;
}

#wrapper {
  background-color: #fff;
  width: 1000px;
  margin: 20px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
    0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#wrapper header {
  background-color: #232323;
  padding: 20px;
}

#wrapper header hgroup {
  float: left;
  color: #fff;
}

#wrapper header nav {
  float: right;
  margin-top: 50px;
}

#wrapper header nav ul {
  padding: 0;
  margin: 0;
}

#wrapper header nav ul li {
  padding-left: 10px;
  list-style: none;
}

#wrapper header nav ul li a {
  padding: 15px;
  color: #fff;
  text-decoration: none;
}

.clear {
  clear: both;
}

section .kesimpulan {
  padding: 15px;
  border-style: solid;
  border-width: 3px;
}

footer {
  background-color: #232323;
  padding: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}